@model CWE.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Request_Pair)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request_Pair)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request_TargetRte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request_TargetRte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Request_ID">Edit</a> 
</div>
