@model List<CWE.Models.Request>

@{
    ViewData["Title"] = "User Requests";
}

<div class="row">
    <div class="col-md-4">
        <form style="margin-top: 20px;" class="w3-container" asp-controller="Request" asp-action="InputEmail" method="get">
            <h3>Enter your email:</h3>

            <div style="margin-top: 15px;" class="form-row">
                <div class="col-sm-3">
                    <label>
                        Email
                    </label>
                </div>
                <div class="col">
                    <input type="text" name="email" value="@ViewBag.email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <input type="submit" value="Input Email" class="btn btn-default" />
                </div>    
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<br />
<br />
<section>
    <div style="margin-bottom: 100px;" class="container">
        <table>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Request_Pair)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Request_TargetRte)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Request_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Request_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Request_ID">Delete</a>
                </td>
            </tr>   
            }
        </table>
    </div>
    <br />
    To Create a new Request, click CWE on banner above
</section>